$outline: -webkit-focus-ring-color auto 1px;
.advanced-sorting {
    display: flex;
    &.display-header {
        align-items: center;
        cursor: pointer;
        &:focus-visible {
            outline: $outline;
        }
    }
    &.display-dropdown {
        &.toggle {
            button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: none;
            }
            select {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &:focus-visible {
            outline: $outline;
        }
    }
    &.left {
        justify-content: flex-start;
    }
    &.middle {
        justify-content: center;
    }
    &.right {
        justify-content: flex-end;
    }
}
